<aside class="app-sidebar">
    <div class="app-sidebar__user"><img class="app-sidebar__user-avatar" src="../../../assets/images/fg-img.png" width="50px" alt="User Image">
      <div>
        <p class="app-sidebar__user-name"><b>Admin</b></p>
        <p class="app-sidebar__user-designation">Chào mừng bạn trở lại</p>
      </div>
    </div>
    <hr>
    <ul class="app-menu">
      <li><a class="app-menu__item " href="/dashboard"><i class="app-menu__icon bx bx-tachometer"></i><span class="app-menu__label">Bảng điều khiển</span></a></li>
      <li><a class="app-menu__item" href="/staff"><i class="app-menu__icon bx bx-id-card"></i>
          <span class="app-menu__label">Quản lý nhân viên</span></a></li>
      <li><a class="app-menu__item" href="/customer"><i class="app-menu__icon bx bx-user-voice"></i><span class="app-menu__label">Quản lý khách hàng</span></a></li>
      <li><a class="app-menu__item" href="/room"><i class="app-menu__icon bx bx-purchase-tag-alt"></i><span class="app-menu__label">Quản lý phòng</span></a>
      </li>
      <li><a class="app-menu__item" href="/service-hotel"><i class="app-menu__icon bx bx-task"></i><span class="app-menu__label">Quản lý dịch vụ</span></a></li>
      <!-- (click)="navigate('/shopping-cart')" -->
      <li><a class="app-menu__item" href="/reservation"><i class="app-menu__icon bx bx-task"></i><span class="app-menu__label">Quản lý phiếu phòng</span></a></li>
      <!-- <li><a class="app-menu__item" href="add-staff"><i class="app-menu__icon bx bx-pie-chart-alt-2"></i><span class="app-menu__label">Báo cáo doanh thu</span></a>
      </li> -->
    </ul>
  </aside>